mixin footer()
	footer.footer
		.footer__top
			.footer__inner
				a.to-top-button(href="#{jv0}")
		.footer__bottom
			.footer__center
				.footer__primary
					nav.footer__menu
						a(href="#{jv0}") features
						a(href="#{jv0}") pricing
						a(href="#{jv0}") sign up
						a(href="#{jv0}") licence
						a(href="#{jv0}") codrops
						a(href="#{jv0}") author
					p.footer__copyright Copyright &copy; 2015 <a href="/">Sedna</a>
					p.footer__designer Design with <a href="https://www.sketchapp.com/" target="_blank">Sketch</a> by <a href="http://peterfinlan.com/" target="_blank">Peter Finlan</a>
					p.footer__developer Developed with <span class="footer__heart" target="_blank"></span> by <a href="http://zencoder.ru/">gearmobile</a>
				.footer__secondary
					h3.footer__title share sedna with your friends
					nav.footer__socials
						a.footer__icon.footer__icon--twitter(href="#{jv0}" target="_blank")
						a.footer__icon.footer__icon--facebook(href="#{jv0}" target="_blank")
