mixin block-photo-post( path, title, date, subtitle, count )
    a.photo-post( href='#0' )
        figure.photo-post__thumb
            img( src=path alt='Post Image' )
        .photo-post__content
            .photo-post__header
                .photo-post__title= title
                    = ' '
                    small.photo-post__date= date
                .photo-post__subtitle= subtitle
            .photo-post__footer
                p Нравится:
                    = ' '
                    span.photo-post__count= count
                != jadeHelpers.Icon.call( locals, { iconName: 'like', className: 'photo-post-icon' })
