include ../heading/heading

mixin about()
	+b.about#about
		.about__center
			+heading
			nav.navigation
				a.navigation__item(href="#{jv0}") mission 1
				a.navigation__item(href="#{jv0}") mission 2
				a.navigation__item(href="#{jv0}") mission 3
				a.navigation__item(href="#{jv0}") mission 4
			.features
				a.features__item(href="#{jv0}")
					.features__icon
					.features__content
						h3.features__title 100% money back
						p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__icon
					.features__content
						h3.features__title cross browser
						p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__icon
					.features__content
						h3.features__title retina display
						p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__icon
					.features__content
						h3.features__title Bootstrap 4
						p Aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
