include ../heading/heading

mixin about()
	+b.about#about
		.about__center
			+heading
			nav.navigation
				a.navigation__item(href="#{jv0}") welcome
				a.navigation__item(href="#{jv0}") vision
				a.navigation__item(href="#{jv0}") mission
				a.navigation__item(href="#{jv0}") mission
			.features
				a.features__item(href="#{jv0}")
					.features__image
					h3.features__title 100% money back
					p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__image
					h3.features__title cross browser
					p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__image
					h3.features__title retina display
					p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
				a.features__item(href="#{jv0}")
					.features__image
					h3.features__title Bootstrap 4
					p aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.
