mixin list-component(  )
	ul.list-component
		li.list-component__item
			.list-component__image
				a( href='#{jv0}' ) 01
			.list-component__content
				h4.list-component__title
					a( href='#{jv0}' ) lorem ipsum dolor est
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam recusandae laudantium vitae velit nostrum, et reiciendis quibusdam ut totam deserunt.
		li.list-component__item
			.list-component__image
				a( href='#{jv0}' ) 02
			.list-component__content
				h4.list-component__title
					a( href='#{jv0}' ) lorem ipsum dolor est
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam recusandae laudantium vitae velit nostrum, et reiciendis quibusdam ut totam deserunt.
		li.list-component__item
			.list-component__image
				a( href='#{jv0}' ) 03
			.list-component__content
				h4.list-component__title
					a( href='#{jv0}' ) lorem ipsum dolor est
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam recusandae laudantium vitae velit nostrum, et reiciendis quibusdam ut totam deserunt.
