mixin navigation()
	+b.navigation
		.navigation__center
			a.navigation__logo(href="#{jv0}") mike
			nav.navigation__menu
				a(href="#{jv0}") home
				a(href="#{jv0}") intro
				a(href="#{jv0}") about
				a(href="#{jv0}") services
				a(href="#{jv0}") team
				a(href="#{jv0}") history
				a(href="#{jv0}") works
				a(href="#{jv0}") prices
				a(href="#{jv0}") contact
				a(href="#{jv0}") blog
