
mixin footer()
	+b.footer
		nav.footer__social
			a.footer__icon(href="#{jv0}" title="Facebook")
			a.footer__icon(href="#{jv0}" title="Twitter")
			a.footer__icon(href="#{jv0}" title="LinkedIn")
			a.footer__icon(href="#{jv0}" title="Pinterest")
			a.footer__icon(href="#{jv0}" title="Google")
			a.footer__icon(href="#{jv0}" title="Dribbble")
			a.footer__icon(href="#{jv0}" title="Behance")

		.footer__copyright
			p &copy; 2015 <a class="footer__link" href="#{jv0}">Fe</a> All rights reserved. Theme by <a class="footer__author" href="#{jv0}">Rudhi Sasmito</a>.
