mixin block-social-links()
    section.social-links
        ul.social-links__list
            li.social-links__item
                a.social-links__link( href='#{js}' title='Facebook' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'post-icon-01', className: 'post-icon' })
            li.social-links__item
                a.social-links__link( href='#{js}' title='Twitter' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'post-icon-02', className: 'post-icon' })
            li.social-links__item
                a.social-links__link( href='#{js}' title='Google' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'post-icon-03', className: 'post-icon' })
            li.social-links__item
                a.social-links__link( href='#{js}' title='Behance' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'post-icon-04', className: 'post-icon' })
            li.social-links__item
                a.social-links__link( href='#{js}' title='YouTube' target='_blank' rel='nofollow' )
                    != jadeHelpers.Icon.call( locals, { iconName: 'post-icon-05', className: 'post-icon' })
