mixin team()
	+b.team
		.team__center
			.heading
				.heading__left
					h2.heading__title our <span>team</span>
					small.heading__subtitle what we do with love
				.heading__right
					p.heading__text Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse
			ul.gallery
				li.gallery__item
					figure.gallery__image#galleryImage
						img(src="assets/images/team-member-1.jpg", alt="Team Member")
						nav.social
							a.social__item(href="#{jv0}" title="Facebook")
							a.social__item(href="#{jv0}" title="Twitter")
							a.social__item(href="#{jv0}" title="LinkedIn")
							a.social__item(href="#{jv0}" title="Behance")
					h3.gallery__title john dow
					h4.gallery__subtitle senior desigener
					p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
				li.gallery__item
					figure.gallery__image
						img(src="assets/images/team-member-2.jpg", alt="Team Member")
						nav.social
							a.social__item(href="#{jv0}" title="Facebook")
							a.social__item(href="#{jv0}" title="Twitter")
							a.social__item(href="#{jv0}" title="LinkedIn")
							a.social__item(href="#{jv0}" title="Behance")
					h3.gallery__title patricia medina
					h4.gallery__subtitle senior desigener
					p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
				li.gallery__item
					figure.gallery__image
						img(src="assets/images/team-member-3.jpg", alt="Team Member")
						nav.social
							a.social__item(href="#{jv0}" title="Facebook")
							a.social__item(href="#{jv0}" title="Twitter")
							a.social__item(href="#{jv0}" title="LinkedIn")
							a.social__item(href="#{jv0}" title="Behance")
					h3.gallery__title peter manson
					h4.gallery__subtitle senior desigener
					p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
				li.gallery__item
					figure.gallery__image
						img(src="assets/images/team-member-4.jpg", alt="Team Member")
						nav.social
							a.social__item(href="#{jv0}" title="Facebook")
							a.social__item(href="#{jv0}" title="Twitter")
							a.social__item(href="#{jv0}" title="LinkedIn")
							a.social__item(href="#{jv0}" title="Behance")
					h3.gallery__title mary lou
					h4.gallery__subtitle senior desigener
					p.gallery__text Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in.
