mixin showcase()
	.showcase
		ul.showcase__wrapper
			li.showcase__item
				.showcase__image
				.showcase__content
					h1.showcase__title lorem ipsum
					small.showcase__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
					a.showcase__button(href="#{jv0}") view case study
			li.showcase__item
				.showcase__image
				.showcase__content
					h1.showcase__title lorem ipsum
					small.showcase__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
					a.showcase__button(href="#{jv0}") view case study
			li.showcase__item
				.showcase__image
				.showcase__content
					h1.showcase__title lorem ipsum
					small.showcase__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
					a.showcase__button(href="#{jv0}") view case study
			li.showcase__item
				.showcase__image
				.showcase__content
					h1.showcase__title lorem ipsum
					small.showcase__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
					a.showcase__button(href="#{jv0}") view case study
			li.showcase__item
				.showcase__image
				.showcase__content
					h1.showcase__title lorem ipsum
					small.showcase__subtitle Donec molestie, faucibus a amet commodo scelerisque libero massa. Sapien quam in eu vel nulla.
					a.showcase__button(href="#{jv0}") view case study
