mixin addwork()
	+b.addwork
		.addwork__center
			h1.addwork__title additional recent work
			p.addwork__subtitle Market-proven software with award winning design

			//- GALLERY
			.addwork-gallery

				//- GALLERY CONTROLS
				.controls
					a.controls__item.controls__item--active(href="#{jv0}") all
					a.controls__item(href="#{jv0}") website
					a.controls__item(href="#{jv0}") graphic
					a.controls__item(href="#{jv0}") identity
					a.controls__item(href="#{jv0}") mobile apps

				//- GALLERY CONTENT
				.content

					//- GALLERY HOLDER-1
					.content__holder.content__holder--active
						.content__wrapper
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-1.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-2.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-3.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-4.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-5.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-6.jpg", alt="Image")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 1
								h4.content__subtitle Mobile interaction CRM for field reps
						button.content__button(href="#{jv0}") load more

					//- GALLERY HOLDER-2
					.content__holder
						.content__wrapper
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-2.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-1.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-3.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-4.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-5.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-6.jpg", alt="Image 1")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 2
								h4.content__subtitle Mobile interaction CRM for field reps
						button.content__button(href="#{jv0}") load more

					//- GALLERY HOLDER-3
					.content__holder
						.content__wrapper
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-1.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-3.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-2.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-4.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-5.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-6.jpg", alt="Image 2")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 3
								h4.content__subtitle Mobile interaction CRM for field reps
						button.content__button(href="#{jv0}") load more

					//- GALLERY HOLDER-4
					.content__holder
						.content__wrapper
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-1.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-2.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-3.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-4.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-5.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-6.jpg", alt="Image 3")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 4
								h4.content__subtitle Mobile interaction CRM for field reps
						button.content__button(href="#{jv0}") load more

					//- GALLERY HOLDER-5
					.content__holder
						.content__wrapper
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-1.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-2.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-3.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-4.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-5.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
							.content__item
								.content__image
									img(src="assets/images/addwork-gallery-image-6.jpg", alt="Image 4")
									.content__links
										a.content__icon(href="#{jv0}")
										a.content__icon(href="#{jv0}")
								h1.content__title outfield 5
								h4.content__subtitle Mobile interaction CRM for field reps
						button.content__button(href="#{jv0}") load more
